.light-rays-container {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

/* @media (max-width: 700px) {
  .light-rays-container {
    filter: brightness(100%);
  }
} */
