.light-rays-container {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.light-ray {
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  animation: floatUp 5s linear infinite;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .light-rays-container {
    filter: brightness(200%);
  }
}
